name: Test build env

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Test
      shell: 'script -q -e -c "bash {0}"'
      run: |
        ./test/test.sh
